# directories
/.stfolder
/favicon
/fonts
/media
/favicon_package_v0.16

# files
.htaccess
.htaccess-BACKUP
folder.png
projects
robots.txt

# extensions
*.htaccess
*.png
*.jpg
*.webp
*.eot
*.ttf
*.woff
*.woff2
*.svg
*.log